@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500;1,700&display=swap');

$font-main: 'Roboto', sans-serif;
$purple: #502d55;
$pink: #935073;
$milk-white: #f6dbc0;
$white: #f8f4e9;